<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        <div class="content">
            <a :href="'../user/?id=' + data.UserId" class="author">
                @{{data.Username}}
            </a>
            <img class="contents" v-if="data.Type == 'img'" :src="data.MediaLink" alt="">
            <video class="contents" v-if="data.Type == 'video'" :src="data.MediaLink" controls></video>
            <div class="contents" v-if="data.Type == 'text'">{{data.Text}}</div>
            <div class="date">
                {{data.Date}}
            </div>
        </div>
    </div>
    <script src="vue.min.js"></script>
    <script src="script.js"></script>
</body>
</html>